.container__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 15px 15px;
}

.container__button p {
  display: flex;
}

.container__button__incremet {
  display: flex;
  align-items: center;
}

.container__button__incremet span {
  font-size: 1.5rem;
  width: 45px;
  text-align: center;
}

.button {
  background-color: unset;
  background-color: #5e55454d;
  color: #dee2e6;
  border: unset;
  border-radius: 0.5rem;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 1.4rem;
}

.container__team {
  background-color: #5e55451a;
  padding: 10px 15px;
  margin: 10px 15px;
  border-radius: 16px;
}

.title__team {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0;
  font-weight: 600;
  text-decoration: underline;
}

.title__team__vitory {
  color: #a0a180;
  font-size: 1.3rem;
}
